{% include 'CommonTemp.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Home</title>
</head>
<body>
    <h1>Production Home get called</h1>
    {% for i in client_details %}
    {% for j in i %}
    <h3>{{ j.c_name }}</h3>
    {% endfor %}
    {% endfor %}
    <script>
        
    </script>
</body>
</html>