{% include 'CommonTemp.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM</title>
    <link rel="stylesheet" href="/static/css/bom.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    {% block content %}

    <!-- showing all lead data with status -->
    <section class="parenttab">
        <div class="">
          <ul class="nav nav-pills option_tab" id="myTab" role="tablist">
    
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#new">Basic Information</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#progress">Address Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#verified">KYC Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#rejected">Vehicle Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#vehicledocument">Vehicle Document</a>
            </li>
          </ul>
    
          <div class="row tab-content">
            <!-- Basic Information -->
            <div class="table_parent_div col-lg-11 col-md-11 tab-pane active" style="padding-bottom: 3%" id="new">
              <div class="basic_info_card" id="menu3">
                <h1>Basic Information</h1>
              </div>
            </div>
    
            <!-- Address -->
            <div class="table_parent_div col-lg-11 col-md-11 tab-pane fade in" style="padding-bottom: 3%" id="progress">
              <div class="table_card" id="menu3">
                <h3 style="color: red;">Address</h3>
              </div>
            </div>
    
            <!-- KYC Details -->
            <div class="table_parent_div col-lg-11 col-md-11 tab-pane fade in" style="padding-bottom: 3%" id="verified">
              <div class="table_card" id="menu3">
                  <h3>KYC Details</h3>
              </div>
            </div>
    
            <!-- Vehicle Information -->
            <div class="table_parent_div col-lg-11 col-md-11 tab-pane fade in" style="padding-bottom: 3%" id="rejected">
              <div class="table_card" id="menu3">
                <h2>Vehicle Information</h2>
              </div>
            </div>
    
            <!-- Vehicle Document -->
            <div class="table_parent_div col-lg-11 col-md-11 tab-pane fade in" style="padding-bottom: 3%"
              id="vehicledocument">
              <div class="table_card" id="menu3">
                  <h1>vehicle document</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% endblock %}
</body>

</html>